<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <title>Welcome to Glitch!</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
 </head>
  <body>
      <form action="/game/join">
        <input name="gamePin" type="text" maxlength="20" placeholder="Game Pin">
        <input name="user" type="text" maxlength="20" placeholder="Username">
        <input type="submit" value="Join Game">
      </form>      <br>
      <form action="/game/new">
        <input name="user" type="text" maxlength="20" placeholder="Username">
        <input type="submit" value="Make Game">
      </form>      
  </body>
</html>
